.title {
    text-align: center;
}

.broken-links-list > ul:first-child > li:first-child {
    /* font-weight: bold; */
}

.broken-links-list li {
    margin-bottom: 8px;
}

.broken-links-list .parent {
    font-weight: bold;
}

.broken-links-list .link {
    font-weight: normal;
    font-size: 0.8rem;
}

.broken-links-list .details {
    font-size: 0.7rem;
}
